.card-stack {
  position: relative;
}

.card-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s;
}


.card-stack .card-wrapper:nth-child(n+2) {
  z-index: 99; /* Next card will have a lower z-index */
  top: 400px; /* Slightly offset from the top to show behind the active card */
}

.card-stack .card-wrapper:nth-child(n+3) {
  z-index: 98;
  top: 350px; /* Increase the offset for each subsequent card */
}

.card-stack .card-wrapper:nth-child(n+4) {
  z-index: 100;
  top: 450px; /* Increase the offset for each subsequent card */
}

.card-stack .card-wrapper:nth-child(n+5) {
  z-index: 101;
  top: 500px; /* Increase the offset for each subsequent card */
}